
#champions {
    margin: auto;
    display: block;
    text-align: center;
}

#champions .champion-icon {
	position: relative;
	z-index: 1;
	width: 9%;
	height: 9%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin: 0 2px 4px;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 1s, visibility 1s;
	transition: visibility 1s, opacity 1s linear
}

#champions .champion-icon a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

#champions .champion-icon a img {
	width: 90%;
	padding: 1px;
	background: white;
	border: 2px solid #d9d9d9;
	transition: transform 300ms, box-shadow 300ms, z-index 300ms;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0)
}

#champions .champion-icon a img:hover {
	transform: scale(1.15) translateZ(0);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	z-index: 2
}

#champions .champion-icon a span {
	font-family: 'Roboto', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #999;
	font-size: 12px;
	margin: 4px 0 6px 0
}

#champions .champion-icon.hidden {
	visibility: hidden;
	opacity: 0;
	list-style: none;
	transition: visibility 1s, opacity 1s linear
}

@media (max-width:767px) {
	#champions .champion-icon {
		width: 31%
	}
}
