.outerContainer {
    display: flex;
    align-items: center;
    height: 80vh;
    background-color:#FFFFFF;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    background: #fdfdfd;
    border-radius: 2px;
    height: 80%;
    width: 80%;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }